@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Varela+Round&display=swap');

/* 
font-family: 'Jua', sans-serif;
font-family: 'Varela Round', sans-serif;
*/



*{margin: 0;
padding: 0;}

ul {list-style: none;}
a {text-decoration: none;
color: #1c1c1c;}
img {vertical-align: bottom;}

body {
    width: 100%;
    height: 100%;
    font-family: 'Varela Round', sans-serif;

background-size: cover;}



.wrap{width: 100%;
height: 100%;
position: relative;
}


/* 헤더설정 */
.header {position: fixed;
    width: 100%;
    height: 120px;
}
.header .logo {
    position: absolute;
    width: 120px;
    height: 70px;
    left: 20px;
    top: 50px;
}
.logo img {width: 100%;
}
.header .menu {
    position: absolute;
    top: 50px;
right: 50px;}

.menu i {font-size: 30px;}

.sns {position: absolute;
    left: 50px;
    top: 600px;
    }
.sns_1{
    width: 20px;
    height: 300px;
    left: 50px;
    bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sns_1 li a {font-size: 30px;}


.main_box {width: 950px;
    height: 700px;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -500px;
    

}
.main_box h2 {font-size: 40px;
text-align: center;
margin-bottom: 50px;
}

.imgs {}


.main_box .imgs li:nth-child(1){
    width: 100px;
    height: 160px;
    background-color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    background-image: url(img/브람스.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_box .imgs li:nth-child(2){
    width: 210px;
    height: 160px;
    background-color: black;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    background-image: url(img/연모.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.main_box .imgs li:nth-child(3){
    width: 140px;
    height: 160px;
    background-color: black;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    background-image: url(img/우영우3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_box .imgs li:nth-child(4){
    width: 120px;
    height: 160px;
    background-color: black;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    background-image: url(img/우영우4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_box .imgs li:nth-child(5){
    width: 150px;
    height: 160px;
    background-color: black;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    background-image: url(img/스토브리그2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_box .imgs li:nth-child(6){
    width: 130px;
    height: 160px;
    background-color: black;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    background-image: url(img/포토1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_box .imgs li:nth-child(7){
    width: 160px;
    height: 160px;
    background-color: black;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    background-image: url(img/이판사판2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_box .imgs li:nth-child(8){
    width: 140px;
    height: 160px;
    background-color: black;
margin: 10px;
    float: left;
    background-image: url(img/청룡영화상.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main_box .imgs li:nth-child(9){
    width: 150px;
    height: 160px;
    background-color: black;
margin: 10px;
    float: left;
    background-image: url(img/청춘시대2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_box .imgs li:nth-child(10){
    width: 140px;
    height: 160px;
    background-color: black;
margin: 10px;
    float: left;
    background-image: url(img/poto14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main_box .imgs li:nth-child(11){
    width: 130px;
    height: 160px;
    background-color: black;
margin: 10px;
    float: left;
    background-image: url(img/포토7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main_box .imgs li:nth-child(12){
    width: 130px;
    height: 160px;
    background-color: black;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
    float: left;
    background-image: url(img/포토8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_box .imgs li:nth-child(13){
    width: 110px;
    height: 160px;
    background-color: black;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    background-image: url(img/포토10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main_box .imgs li:nth-child(14){
    width: 140px;
    height: 160px;
    background-color: black;
margin: 10px;
    float: left;
    background-image: url(img/포토022.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_box .imgs li:nth-child(15){
    width: 130px;
    height: 160px;
    background-color: black;
margin: 10px;
    float: left;
    background-image: url(img/프로필\ 박은빈.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main_box .imgs li:nth-child(16){
    width: 140px;
    height: 160px;
    background-color: black;
margin: 10px;
    float: left;
    background-image: url(img/포토009.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


















.side {display: flex;
position: absolute;
transform: rotateZ(90deg);
right: 0;
top: 50%;
margin-top: -100px;}


.side p {font-size: 20px;
font-weight: bold;}

.side span {display: block;
width: 100px;
height: 1px;
background-color: #1c1c1c;
margin-top: 15px;
margin-left: 10px;
margin-right: 10px;}




.slide {display: flex;
position: absolute;
bottom: 0;
left: 50%;
margin-left: -22px;
color: #1c1c1c;
font-size: 20px;}

.slide ul {display: flex;
margin: 0px 20px;
align-items: flex-end;

}

.slide li:nth-child(1) {font-weight: bold;
font-size: 24px;
}


.slide i {font-size: 30px;
cursor: pointer;}










.slide_menu{width: 100%;
height: 937px;
top: -937px;
left: 0;
background-color: #fff;
position: relative;
transition: all 0.5s;
}

.slide_menu.on {
    top: 0;
    left: 0;
    }


.slide_menu .m_logo {
    position: absolute;
    width: 120px;
    height: 70px;
    left: 20px;
    top: 50px;
}


.m_logo img{
    width: 100%;
}

.slide_menu .m_menu {
    position: absolute;
    top: 50px;
right: 50px;
}

.m_menu i {font-size: 30px;}



.slide_menu .sns_menu {
    position: absolute;
    width: 20px;
    height: 300px;
    left: 50px;
    bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.sns_menu li a{font-size: 30px;}


.menu_list {position: absolute;
left: 50%;
margin-left: -107px;
top: 30%;}


.menu_list li{margin-bottom: 40px;}

.menu_list li a {font-size: 50px;}

